@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-rgb: 249, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color-rgb));
  font-family: "Raleway", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.offre p {
  @apply mt-4 mb-2;
}

.offre strong {
  @apply text-decasult-secondary font-semibold py-4;
}

.offre li {
  @apply font-normal py-1 ml-10 pl-2;
  list-style-type: none; /* Remove default list item bullet */
  position: relative; /* Positioning context for the pseudo-element */
}

.offre li::before {
  content: url("/check.svg"); /* Replace with your SVG path */
  position: absolute;
  left: -20px; /* Adjust as needed */
  top: 5px;
}

.label-decasult {
  @apply text-sm text-decasult-graydark font-semibold;
}

.input-decasult {
  @apply text-xs  text-decasult-graydark border border-decasult-graylight rounded-sm w-full p-2 mt-2 mb-1 h-[38px] outline-none focus:border-decasult-graydark disabled:bg-gray-100;
}

.input-decasult-error {
  @apply border-red-400 !important;
}

.label-error {
  @apply text-[10px] text-decasult-alertred font-medium my-0;
}
